:root {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

p {
    text-align: justify;
    text-align-last: right;
    line-height: 1.4em;
}

body {
    width: 100.075%;
    font-family: Oswald;
    color: #bbbbbb;
    background-color: black;
    font-size: max(1em, min(2em, calc(100vw * 2 / 75)));
}

.col-1,
.col-2 {
    display: flex;
    flex: 40%;
    padding: 2vw;
}

.razvitie {
    padding: 2vw;
    width: 100%;
    height: auto;
    box-shadow: inset 120px 100px 150px #00000050, inset -130px -100px 150px #00000050;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
        url('../img/razvitie/back.jpg') no-repeat top left/contain;
}

.razvitie-col {
    display: flex;
    flex-wrap: wrap;
}

.zagolovok {
    padding: 40px 40px 0px 40px;
    flex: 100%;
    text-align: center;
    font-size: 1.5em;
}

.razvitie-col .col-1 p {
    padding-bottom: 1.8rem;
    align-self: flex-end;
}

.razvitie-col .col-2 {
    flex-wrap: wrap;
}

img {
    width: 100%;
    max-width: 100%;
}

.opisanie {
    width: 100%;
    font-size: 0.8em;
}


.chaos-col {
    padding: 2vw;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('../img/chaos/back1.jpg') no-repeat top left/contain;
}

.chaos-top,
.chaos-down {
    flex: 100%;
    display: flex;
}

.chaos-col .col-1 {
    flex-wrap: wrap;
    align-content: space-between;
}

.chaos-col .col-2 {
    flex-wrap: wrap;
}

h2 {
    padding-bottom: 1em;
    font-size: 2em;
    line-height: 0.8em;
}

.chaos-top .col-1 p {
    padding-bottom: 1.8rem;
}

.chaos-down img {
    object-fit: cover;
    max-height: 231px;
}

.chaos-down .col-1 p {
    margin-top: -0.57em;
    padding-bottom: 0.5em;
}

.chaos-col .chaos-top .col-2 img {
    width: 110%;
}

.chaos-col .chaos-down .col-2 {
    gap: 1em;
}

.ozarenie {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.ozarenie-top {
    background:
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
        url('../img/ozarenie/back1.jpg') no-repeat top left/contain;
    padding: 2vw;
    display: flex;
}

.ozarenie-top .col-1,
.col-2 {
    flex-wrap: wrap;
    align-content: space-between;
}

.ozarenie-top .col-1 p {
    padding-bottom: 3.9rem;
}

.ozarenie-down {
    padding: 2vw;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: url('../img/ozarenie/back2.png') no-repeat top/contain,
        url('../img/ozarenie/photo-down.jpg') no-repeat bottom/contain;
}

.background {
    display: flex;
    flex: 100%;
    margin: 0.5vw 2vw 2vw 2vw;
    background-color: #ffffff3a;
}

.background-text {
    width: 100%;
    padding: 0.5vw;
    color: #ffffff;
    background-color: #000;
    font-weight: bold;
    mix-blend-mode: multiply;
}

.background-text p,
.background-down-text p {
    text-align-last: justify;
    letter-spacing: 0.7rem;
}

.ozarenie-down .col-1 img {
    padding-top: 3em;
    object-fit: cover;
}

.ozarenie-down .col-2 p {
    padding-top: 2em;
    margin-bottom: -0.5rem;
    text-align-last: justify;
}

.ozarenie-down-p {
    padding: 2vw;
    text-align-last: justify;
}

.background-down {
    margin: 2vw 2vw -0.5vw 2vw;
    background-color: #ffffff3a;
    ;
}

.background-down-text {
    padding: 1vw;
    color: #ffffff;
    background-color: #000;
    letter-spacing: 0.3vw;
    font-weight: bold;
    mix-blend-mode: multiply;
    text-transform: uppercase;
}

.drevo {
    width: 100%;
    padding: 2vw;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(to left, #000000, #00000000) no-repeat bottom left/90% 54%,
        url('../img/drevo/back-down1.jpg.png.jpg') no-repeat bottom left/90% 53.5%,
        linear-gradient(to left, #000000, #00000000) no-repeat top left/60%,
        url('../img/drevo/back-top.png.jpg') no-repeat top left/50% 50%;
}

.drevo-top {
    display: flex;
}

.drevo-top .col-1 {
    flex-wrap: wrap;
    align-content: space-between;
}

.drevo-top .col-1 p {
    margin-bottom: -0.6rem;
}

.drevo>.col-2 {
    padding: 0 2vw 2vw 2vw;
    margin-top: -1rem;
    margin-left: 50%;
}

.drevo-down {
    display: flex;
    flex-wrap: wrap;
}

.drevo-down .col-1 {
    flex-wrap: wrap;
    align-content: space-between;
}

.drevo-down .col-1 p:first-child {
    margin-top: -1rem;
}

.drevo-down .col-1 p:last-child {
    margin-bottom: -0.6rem;
}

.mummi {
    color: #ffffff;
    padding: 2vw;
    display: flex;
    flex-wrap: wrap;
    background: url('../img/mumi-troll/back.jpg') no-repeat center/100%;
}

.mummi .col-1 {
    align-content: space-between;
    text-shadow: 1px 1px 5px #060631;
}

.mummi .col-1,
.mummi .col-2 {
    flex-wrap: wrap;
    padding: 2vw;
}

.mummi .col-1 h2 {
    margin-top: -0.2em;
    width: 100%;
    text-align-last: justify;
    font-size: 3.5rem;
    line-height: 1.2em;
    text-transform: uppercase;
}

.mummi .col-1 p {
    margin-bottom: -0.55rem;
}

.mummi img {
    box-shadow: -0.1rem 0.1rem 0.4rem 0.4rem #00000094;
}

.heart {
    padding: 2vw;
    color: #d1948f;
    display: flex;
    flex-wrap: wrap;
    background: url('../img/heart/back1.png') no-repeat 0% 0%;
}

.heart .col-1 {
    flex-wrap: wrap;
    align-content: space-between;
}

.heart .col-1 h2 {
    text-transform: uppercase;
}

.heart .col-2 p {
    padding: 2rem 0 2rem 0;
    width: 100%;
    font-style: italic;
    text-align-last: justify;
}

.heart .col-1 p:nth-of-type(1) {
    padding-bottom: 0.5em;
    text-align-last: left;
}

.heart .col-1 p:nth-of-type(2) {
    padding-bottom: 0.7rem;
}

.heart .col-1 p:nth-of-type(3) {
    margin-bottom: -0.55rem;
}

.heart .col-1 img {
    object-fit: cover;
    width: 100%;
    max-height: 50%;
}

.heart-grid {

    flex-wrap: wrap;
    display: flex;
}

.heart-grid img {
    object-fit: cover;
    box-shadow: -2px -2px 10px 7px #160202;

}

.pic1 {
    z-index: 0;
    width: 55%;
    object-position: 50% 80%;
}

.pic2 {
    z-index: 1;
    width: 45%;
}

.pic3 {
    z-index: 2;
    width: 100%;
}

.leto-peremen {
    display: flex;
    flex-wrap: wrap;
}

.leto-peremen div {
    display: flex;
    flex-wrap: wrap;
    padding: 2vw;
}

.leto-peremen .div1 {
    position: relative;
    background: url('../img/leto-peremen/backs/div1.jpg') border-box no-repeat center/cover;
}

.leto-peremen .div1 .col-1 {
    align-items: flex-end;
    place-content: stretch;
}

.leto-peremen .div1 p {
    margin-bottom: -0.55rem;
}

.leto-peremen .div1 h2 {
    color: #ffffff00;
    padding: 2rem 0 3rem 0;
    flex: 100%;
    text-align-last: center;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    mix-blend-mode: normal;
    text-shadow: 0px 0px 2rem #3a659c;
}

.leto-peremen .div1 h2:last-of-type {
    right: 0;
    width: 100%;
    color: #fff;
    position: absolute;
    mix-blend-mode: soft-light;
}

.leto-peremen .div2 {
    background: url('../img/leto-peremen/backs/div2.jpg') border-box no-repeat center/cover;
}

.leto-peremen .div3 {
    background: url('../img/leto-peremen/backs/div3.jpg') border-box no-repeat center/cover;
}

.leto-peremen .div3 .col-2 {
    align-self: center;
}

.leto-peremen .div4 {
    background: url('../img/leto-peremen/backs/div4.jpg') border-box no-repeat center/cover;
}

.leto-peremen .div4 .col-1 {
    padding: 0 2vw 0 2vw;
    justify-content: space-between;
    gap: 1.5vw 0;
}

.leto-peremen .div4 .col-1 img {
    max-width: 40%;
}

.leto-peremen .div4 .col-2 {
    align-self: center;
}

.leto-peremen .div5 {
    background: radial-gradient(circle, #00000000, rgba(0, 0, 0, 0.5), #000000) no-repeat top left/300% 300%,
        url('../img/leto-peremen/backs/div5.jpg') border-box no-repeat center/cover;
}

.leto-peremen .div5 .col-2 {
    align-content: flex-end;
}

.leto-peremen .div5 .col-2 p {
    margin-bottom: -0.55rem;
}

.div5 .gradient-text {
    font-weight: 599;
    color: #ffffff;
    background: linear-gradient(138deg, #ffcd9c 0%, #afafaf 56%, #9ca5c8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.frwm .coalco,
.prorub {
    padding: 2vw 2vw 0.8vw 2vw;
    display: flex;
    flex-wrap: wrap;
}



.coalco {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)),
        url('../img/frwm/coalco-back.jpg') no-repeat right/80% 120%;
}

.prorub {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)),
        url('../img/frwm/prorub-back.jpg') no-repeat right/80% 120%;
}

.coalco .col-1,
.prorub .col-1 {
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}

.coalco .col-2:last-child,
.prorub .col-2:last-child {
    margin-left: 50%;
    margin-top: -1.5rem;
    padding: 0 2vw 0 2vw;
}

.coalco .col-1 p:last-child,
.prorub .col-1 p:last-child {
    margin-bottom: -0.55rem;
}

.coalco h2,
.prorub h2 {
    text-transform: uppercase;
    text-align-last: right;
}

.coalco p {
    color: #c37d35;
    text-shadow: 1px 1px 15px #965d21;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.25);
}

.coalco h2:first-child {
    background: linear-gradient(rgba(67, 48, 21, 0.25), rgba(67, 48, 21, 0.25)),
        url('../img/frwm/coalco-back-text.jpg') no-repeat -20% 30%/120% 120%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
}

.coalco h2+h2 {
    padding-right: 4vw;
    width: 100%;
    position: absolute;
    -webkit-text-stroke: 1px #9e521c;
    z-index: 1;
}

.prorub p {
    color: #d13838;
    text-shadow: 1px 1px 15px #7e1e1e;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.25);
}

.prorub h2:first-child {
    background: linear-gradient(rgba(129, 11, 11, 0.3), rgba(129, 11, 11, 0.3)),
        url('../img/frwm/prorub-back-text.jpg') no-repeat top right/80% 60%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
}

.prorub h2+h2 {
    padding-right: 4vw;
    width: 100%;
    position: absolute;
    -webkit-text-stroke: 2px #d82c2c;
    z-index: 1;
}

.prorub .col-2 p {
    text-align-last: justify;
    box-shadow: 0 0 10px 25px rgba(0, 0, 0, 0.25);
}

.nft h2 {
    width: 100%;
    text-transform: uppercase;
    text-align-last: center;
}

.nft p {
    margin-top: -1rem;
    text-align-last: justify;
}

.nft .col-1 {
    flex-wrap: wrap;
    align-content: space-between;

}

.nft .col-1 img {
    max-width: 47%;
}

.nft-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nft256 {
    padding: 2vw 4vw 2vw 4vw;
    display: flex;
    background: radial-gradient(circle at 50% 20%, black 40%, #00000075 80%, transparent),
        url('/img/nft256/back-nft256.jpg') no-repeat right/contain;
    flex-wrap: wrap;
}

.nft256 h2 {
    width: 100%;
    padding: 4vw 0 0.3vw 0;
    text-align-last: center;
    text-transform: uppercase;
    background: linear-gradient(125deg, #fffc00 35%, #ff7e7e 50%, #0a00b2 70%);
    color: transparent;
    -webkit-background-clip: text;
}

.nft256 p {
    margin-top: 0;
    text-align-last: justify;
    padding: 6vw 0 4vw 0;
    letter-spacing: 0.9px;
    background: linear-gradient(125deg, #0a00b2 13%, #ff7e7e 50%, #fffc00 88%);
    color: rgba(255, 255, 255, 0.7);
    -webkit-background-clip: text;
    font-weight: lighter;
}

.elon,
.mike,
.pangea {
    padding: 2vw;
    display: flex;
    flex-wrap: wrap;
}

.nft .col-2 img {
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.3);
}

.nft .col-1 img {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.nft img {
    transform: scaleX(-1);
}

.elon {
    height: 810px;
    /*background:
        radial-gradient(circle 25em at bottom, #00000000, #000000a9),
        linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        url('/img/nft256/166back.jpg') no-repeat top left/cover;*/
    position: relative;
}

.squares-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('/img/nft256/166back.jpg') no-repeat top left/cover;
}

.squares-back table {
    width: 100%;
    height: 100%;
    border-spacing: 0;
}

.elon table tr {
    width: 100%;
    height: calc(100%/6);
}

.elon table td {
    width: calc(100%/10);
}

.vinjetca {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background:
        radial-gradient(circle 25em at bottom, #00000000, #000000a9),
        linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

/*.elon h1 {
    top: 0;
    position: absolute;
    width: 10%;
    height: 12.5%;
    background:
        url('/img/nft256/166back.jpg') no-repeat;
    animation-name: tile;
    animation-duration: 2s;
}

.elon h1:nth-child(1) {
    left: 0;
    background-position: 0 0;
}

.elon h1:nth-child(2) {
    left: 10%;
    background-position: -134.9px 0;
}

.elon h1:nth-child(3) {
    left: 20%;
    background-position: -269.8px 0;
}

.elon h1:nth-child(4) {
    left: 30%;
    background-position: -404.7px 0;
}*/

.elon h2 {
    background: linear-gradient(125deg, #da5bad 25%, #ab58ff 46%, #022b9e 82%);
    color: transparent;
    -webkit-background-clip: text;
    z-index: 1;
}

.mike h2 {
    background: linear-gradient(125deg, #004284 25%, #93ff7e 46%, #00eaff 82%);
    color: transparent;
    -webkit-background-clip: text;
}

.pangea h2 {
    background: linear-gradient(125deg, #f3ff52 15%, #b9ffb29d 47%, #1c856b 70%);
    color: transparent;
    -webkit-background-clip: text;
}

.elon p {
    background: linear-gradient(125deg, #022b9e 13%, #ab58ff 50%, #da5bad 88%);
    color: rgba(255, 255, 255, 0.7);
    -webkit-background-clip: text;
    font-weight: lighter;
    z-index: 1;
}

.mike p {
    background: linear-gradient(125deg, #00eaff 13%, #93ff7e 50%, #004284 88%);
    color: rgba(255, 255, 255, 0.7);
    -webkit-background-clip: text;
    font-weight: lighter;
}

.pangea p {
    background: linear-gradient(125deg, #1c856b 13%, #b9ffb29d 50%, #f3ff52 88%);
    color: rgba(255, 255, 255, 0.7);
    -webkit-background-clip: text;
    font-weight: lighter;
}

.mike {
    background:
        radial-gradient(circle 25em at bottom, #00000000, #000000a9),
        linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        url('/img/nft256/87back.jpg') no-repeat top left/cover;
}

.pangea {
    background:
        radial-gradient(circle 25em at bottom, #00000000, #000000a9),
        linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        url('/img/nft256/29back.jpg') no-repeat top left/cover;
}


@media (max-width: 768px) {
    .razvitie {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
            url('../img/razvitie/back.jpg') no-repeat top right/contain,
            url('../img/razvitie/back1.jpg') no-repeat bottom left/contain;
    }

    .chaos-col {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url('../img/chaos/back2.jpg') no-repeat top left/contain;
    }

    .chaos-col .chaos-down {
        gap: 1em;
    }

    .chaos-down .col-1 {
        padding-bottom: 0;
    }

    .chaos-down .col-2 {
        padding-top: 0px;
    }

    .chaos-down img {
        min-height: 112px;
    }

    .ozarenie {
        flex-direction: column;
    }

    .ozarenie-top .col-1 p {
        padding-bottom: 1em;
    }

    .background-text p,
    .background-down-text p {
        letter-spacing: 0.1rem;
    }

    .ozarenie-down .background {
        margin-top: -2.5vw;
    }

    .ozarenie-down .background-down {
        margin-bottom: -4vw;
    }

    .ozarenie-down-p,
    .ozarenie-down .col-2 p {
        text-align-last: right;
    }

    .drevo {
        flex-direction: column;
        background: linear-gradient(to left, #000000, #00000000) no-repeat bottom left,
            url('../img/drevo/back-down1.jpg.png.jpg') no-repeat bottom left/auto 53%,
            linear-gradient(to left, #000000, #00000000) no-repeat top left,
            url('../img/drevo/back-top.png.jpg') no-repeat top left/auto 47%;
    }

    .mummi {
        flex-direction: column;
        background-size: cover;
        font-size: calc((100vw - 30rem)/25 + 1rem);
    }

    .mummi .col-1 p {
        text-align-last: justify;
    }

    .heart {
        flex-direction: column;
        font-size: calc((100vw - 30rem)/25 + 1rem);
        background: url('../img/heart/back1.png');
    }

    .heart .col-2 p {
        font-size: 2rem;
    }

    .heart .col-1 img {
        padding: 1rem 0 1rem 0;
        height: 300px;
    }

    .leto-peremen {
        flex-direction: column;
        font-size: calc((100vw - 30rem)/25 + 1rem);
    }

    .leto-peremen>div {
        flex-direction: column;
        flex-wrap: nowrap;
        flex: 100%;
    }

    .frwm {
        font-size: calc((100vw - 30rem)/25 + 1rem);
    }

    .coalco {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
            url('../img/frwm/coalco-back.jpg') no-repeat -20% -30%/cover;
    }

    .prorub {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)),
            url('../img/frwm/prorub-back.jpg') no-repeat -50% -20%/cover;
    }

    .frwm .opisanie {
        padding-top: 1rem;
        text-align-last: right;
    }

    .coalco,
    .prorub {
        flex-direction: column;
        flex-wrap: wrap;
        flex: 100%;
    }

    .frwm h2 {
        text-align-last: center;
    }

    [class*="-col"],
    [class*="-top"],
    [class*="-down"] {
        display: flex;
        flex-direction: column;
        /*Каюсь, формулу подрезал на хабре, ибо математики мне сейчас не хватало ещё*/
        font-size: calc((100vw - 30rem)/25 + 1rem);
    }
}